.h2subcontent{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

/* Strictly for the position parameter in my usestate */
.top{
    margin-top: 0;
}

.bottom{
    margin-top: 4rem;
}


/* Media query */
@media screen and (max-width: 850px) {
    .bottom{
        margin-bottom: 4rem;
    }
}