.servicediv{
    border: 0px solid black;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 4px 10px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    padding: 0rem 2rem;
    margin: 20px 0px;
    width: 16rem;
    height: 18rem;
}

.servicediv p{
    padding: 1rem 0;
}

.serviceheading{
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #402100;
    width: 12rem;
}

.servicecontent{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #131313;
    width: 12rem;
    text-align: justify;
}

.servicebutton{
    width: 8.75rem;
    height: 37px;
    background-color: #FF8400;
    border: 0px;
    border-radius: 27.1154px;

}

.servicebutton a{
    text-decoration: none;
    color: white;
}

.servicebutton a:hover{
    color: black;
    font-weight: bold;
}

@media screen and (max-width: 400px) {
    .servicediv{
        width: 14rem;
    }
    .serviceheading{
        font-size: 1rem;
        width: 9rem;
    }
    .servicecontent{
        font-size: 0.7rem;
        width: 10rem;
    }
}