footer{
    background-color: #FF8400;
    padding: 3rem;
    display: flex;
   
}
.flexcover{
    display: flex;
    
}
.footercontainer2{
    display: flex;
    padding: 0 1rem;
}
.footercontainer3{
    display: flex;
    padding: 0 1rem;
}
.footercontainer1{
    padding-bottom: 10%;
}
.footercontainer1 p{
    width: 14.5rem;
    color: #FFFFFF;
}
.footersubcontainer1{
    display: flex;
    flex-direction: column;
    margin: 0 1.5rem;
}
.footersubcontainer1 a{
    padding: 1.5rem 0;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem;
    width: 12.5rem;

}
.footersubcontainer1 a:hover{
    color: black;
    font-weight: bold;
}
.footersubcontainer2{
    margin: 0 1.5rem;
}
.footersubcontainer2 p{
    width: 14rem;
    padding-bottom: 1.5rem;
    color: #FFFFFF;

}
.footersubcontainer3{
    display: flex;
    flex-direction: column;
    width: 12rem;
    margin: 0 1.5rem;
}
.footersubcontainer3 a{
    padding: 1.5rem 0;
    text-decoration: none;
    color: #FFFFFF;
}
.footersubcontainer3 a:hover{
    color: black;
    font-weight: bold;
}
.footersubcontainer4{
    display: flex;
    flex-direction: column;
    width: 12rem;
    margin: 0 1.5rem;
}
.footersubcontainer4 a{
    display: flex;
    align-items: flex-start;
    text-decoration: none;
    color: #FFFFFF;
    padding: 1rem 0;
}
.footersubcontainer4 img {
    margin-right: 1rem;
}
.footersubcontainer4 a:hover{
    color: black;
    font-weight: bold;
}
#footerheading{
    color: black;
    font-weight: bold;
    font-size: 1.3rem;
}

@media screen and (max-width: 1200px) {
    .flexcover{
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 900px) {
    footer {
        display: block;
        padding: 3rem 15%;
      }
      .footercontainer2,
      .footercontainer3 {
        display: block;
      }
      .footercontainer1 {
        padding: 0 1rem;
        padding-bottom: 15%;
      }
      .footercontainer2,
      .footersubcontainer3,
      .footersubcontainer1 {
        padding-bottom: 15%;
      }
}


@media screen and (max-width: 400px) {
    footer{
        padding: 1.5rem;
    }
    .footersmallfont{
        font-size: 0.75rem;
    }
}