.hero{
    background-image: url('../../Assets/bizdevbackground.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    background-color: rgba(255, 132, 0, 0.363);
    /* padding: 17rem 5rem; */
    
   
}

.heading{
    color: rgb(255, 255, 255);
    font-style: Bold;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 3.5rem;
    text-align: center;
    padding: 8rem 2rem 16rem 2rem;
}

.hero2{
    margin: 4rem 4rem;
    
}


.heading2{
    font-weight: 600;
    font-size: 3rem;
    line-height: 3.6rem;
    color: #402100;
    text-align: center;
    margin-bottom: 3rem;
}

.hero2pic{
    float: left;
}

.hero2content, .hero2content2{
    font-size: 1rem;
    line-height: 2.5rem;
    text-align: justify;
}

.hero3{
    margin: 2rem 4rem;
}

.hero3container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2rem;
    margin-bottom: 6rem;
}

.hero3maindiv{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero3flex{
    display: flex;
    align-items: center;
}

.hero3flex img{
    width: 4rem;
}
.hero3subheading{
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.75rem;
}

.hero3subcontent{
    font-weight: 400;
    font-size: 1rem;
    line-height: 1rem;
    margin-left: 4.5rem;
    width: 22rem;
}
.bizdevpic{
    padding-bottom: 11rem;
    padding-right: 8rem;
}

@media screen and (max-width: 900px) {
    .heading{
        padding: 6.5rem 2rem 14rem 2rem;
        font-size: 2.75rem;
    }
    
    .heading2{
        font-size: 1.75rem;
        line-height: 2.5rem;
    }

    .hero2content2{
        display: none;
    }

    .hero3container{
        padding: 2rem 0;
    }

    .bizdevpic{
        display: none;
    }
}

@media screen and (max-width: 500px) {

    .heading2{
        margin-bottom: 1rem;
    }

    .hero3flex img{
        width: 2rem;
    }

    .hero3div{
        margin: 1rem 0;
    }

    .hero3subcontent{
        margin-left: 2.25rem;
        max-width: 15rem;
    }
    .hero3container{
        margin-bottom: 3rem;
    }
}